
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon"  href="/favicon.ico" />
    <link rel="stylesheet"  href="/static/css/all.css" />
    <!--script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script-->
    <script type="text/javascript" src="/static/axios.min.js"></script>
    <script type="text/javascript" src="/static/build/react16.2.js"></script>
    <script type="text/javascript">
      (function(obj){
      if(typeof window != 'undefined'){
        window.auth2_uri='{{auth2_uri}}';
        window.redirect_uri='{{redirect_uri}}';
        window.client_id= '{{client_id}}';
        window.response_type= '{{response_type}}';
      }
      })(this ? this : (module ? module.exports:{}))
    </script>
   </head>

 <body >
      <div>
        <div id='divLogin'></div>
        <script type="text/javascript" src="/static/build/login.js"></script>
      </div>
 </body>

</html>

