
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon"  href="/favicon.ico" />
    <link rel="stylesheet"  href="/static/css/all.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script type="text/javascript" src="/static/axios.min.js"></script>
    <script type="text/javascript" src="/static/build/react16.2.js"></script>
    <script type="text/javascript">
      (function(){
        var NS = window.NS || {};
        window.NS = NS;
        {% if user %}
        NS.userInfo = {{ user_json|safe }};
        {% endif %}
        NS.sidebarConf = NS.sidebarConf || {};
        NS.sidebarConf.items = {{ menu_items|safe or "[]" }};
      })()
    </script>
   </head>

 <body >
    <div id = 'app'> </div>
  <script type="text/javascript" src="/static/build/app.js?version={{static.random}}"></script>
 </body>

</html>
